html {
    font-size: 18px;
    font-family: sans-serif;
}

body {
    color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}

h1 {
    text-align: center;
}

#manager-view {
    float: top;
    height: 500px;
    overflow-y: scroll;
}

#player-view {
    float: bottom;
    min-height: 50px;
    border-top: thin gray solid;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    overflow-y: hidden;
    padding-top: 8px;
    padding-bottom: 8px;
}

#player-view span {
    display: inline-block;
    width: 48%;
}

#currently_playing {
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
}

#player {
    width: 100%;
}

tr.song_row {
    cursor: pointer;
}

th.song_title, td.song_title {
    width: 35%;
}

td.song_title {
    text-overflow: ellipsis;
    white-space: nowrap;
}

th.song_length {
    width: 5%;
}

th.song_artist {
    width: 25%;
}

th.song_album {
    width: 30%;
}

#filter_container, .page_controls {
    margin-bottom: 12px;
}

div.row {
    margin-left: 0px;
    margin-right: 0px;
}

#filter_container {
    display: flex;
}

#filter_input {
/*    min-width: 80%;
    max-width: 100%;
 */
    flex-grow: 1;
    padding-left: 4px;
    padding-right: 4px;
}

#result_count {
    display: inline-block;
    margin-left: 8px;
    margin-top: 2px;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

a.disabled {
    pointer-events: none;
    color: grey;
}

span.page_indicator {
    margin-left: 6px;
    margin-right: 6px;
    padding: 2px;
    color: grey;
}

#songs_table tbody tr.song_row.playing {
    background-color: rgba(192, 192, 255, 0.3);
}
