html {
    font-size: 18px;
    font-family: sans-serif;
}

body {
    color: black;
}

h1 {
    text-align: center;
}

#manager-view {
    float: top;
    height: 500px;
    overflow-y: scroll;
}

#player-view {
    float: bottom;
    height: 50px;
    border-top: thin gray solid;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    overflow-y: hidden;
    padding-top: 8px;
    padding-bottom: 8px;
}

#player {
    width: 40%;
}

tr.song_row {
    cursor: pointer;
}

th.song_title {
    width: 35%;
}

th.song_length {
    width: 10%;
}

th.song_artist {
    width: 25%;
}

th.song_album {
    width: 30%;
}

#filter_container, .page_controls {
    width: 24em;
    margin: auto;
    margin-bottom: 12px;
}

#filter_input {
    min-width: 100%;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

a.disabled {
    pointer-events: none;
    color: grey;
}

span.page_indicator {
    margin-left: 6px;
    margin-right: 6px;
    padding: 2px;
    color: grey;
}
