<!DOCTYPE html>
<html>
  <head>
    <title>Jukebox</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    {# Download and host custom version of Bootstrap and JQuery #}
  </head>

  <body>
    <div class="content-wrapper">

      <div id="manager-view">
	<h1>Jukebox</h1>
	
	{# Try .table-boredered too #}
	<div class="table-responsive">
	  <table class="table table-striped table-hover table-condensed">
	    <thead>
	      <tr>
		<th>Title</th><th>Artist</th><th>Album</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for s in songs %}
	      <tr>
		<td>{{s.title}}</td><td>{{s.artist}}</td><td>{{s.album}}</td>
	      </tr>
	      {% endfor %}
	    </tbody>
	  </table>
	</div>
      </div>
      
      <div id="player-view">
	<center>
	  {# Need to add custom next and back controls here #}
	  <audio controls id="player">
	    <source src="" type="audio/mpeg" id="audio-source">
	    <i>Your browser doesn't support this audio</i>
	  </audio>
	</center>

      </div>

    </div>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/static/controller.js"></script>
  </body>
</html>
